### Ignore everything
*

### Except
!*/
!/.gitignore
!LICENSE
!*.md
!*.json
!*.yaml
!*.yml

!Makefile

# web
!*.html
!*.css
!*.js
!*.mjs
!*.jsx
!*.ts
!*.tsx

# go
!*.go
!go.sum
!go.mod

#node_modules/
